<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.unarin.cordova.beacon" version="3.4.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Proximity Beacon Plugin</name>
    <description>Proximity Beacon Monitoring and Transmission Plugin (supporting iBeacons)</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ibeacon,beacon,bluetooth,le</keywords>
    <repo>https://github.com/petermetz/cordova-plugin-ibeacon.git</repo>

    <!-- Third party libraries -->
    <js-module name="underscorejs" src="www/lib/underscore-min-1.6.js">
        <runs/>
    </js-module>
  
    <js-module name="Q" src="www/lib/q.min.js">
        <runs/>
    </js-module>
    
    <!-- Plugin source code: Core -->
    <js-module name="LocationManager" src="www/LocationManager.js">
        <!-- see http://cordova.apache.org/docs/en/3.0.0/plugin_ref_spec.md#Plugin%20Specification_js_module_element -->
        <!-- We have to use clobers but with cordova.plugins.locationManager or if you'd like to merge you need to user merges to make alle objects acessable -->
        <merges target="cordova.plugins"/>
    </js-module>

    <js-module name="Delegate" src="www/Delegate.js">
        <runs/>
    </js-module>

    <!-- Plugin source code: Model -->
    <js-module name="Region" src="www/model/Region.js">
        <runs/>
    </js-module>

    <js-module name="Regions" src="www/Regions.js">
        <runs/>
    </js-module>

    <js-module name="CircularRegion" src="www/model/CircularRegion.js">
        <runs/>
    </js-module>

    <js-module name="BeaconRegion" src="www/model/BeaconRegion.js">
        <runs/>
    </js-module>


    <platform name="ios">
        
        <config-file parent="/*" target="config.xml">
            <feature name="LocationManager">
                <param name="ios-package" value="CDVLocationManager"/>
            </feature>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app would like to scan for iBeacons even when in the background.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>This app would like to scan for iBeacons while it is in use.</string>
        </config-file>
         

        <header-file src="src/ios/CDVLocationManager.h"/>
        <source-file src="src/ios/CDVLocationManager.m"/>

        <header-file src="src/ios/AppDelegate+CDVLocationManager.h"/>
        <source-file src="src/ios/AppDelegate+CDVLocationManager.m"/>

        <header-file src="src/ios/LMLogger.h"/>
        <source-file src="src/ios/LMLogger.m"/>

        <framework src="CoreBluetooth.framework" />
        <framework src="CoreLocation.framework" />

    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocationManager" >
                <param name="android-package" value="com.unarin.cordova.beacon.LocationManager"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" >
				<intent-filter>
					<action android:name="android.intent.action.BOOT_COMPLETED" />
					<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
					<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
				</intent-filter>
			</receiver>
            <service android:enabled="true"
                     android:exported="true"
                     android:isolatedProcess="false"
                     android:label="iBeacon"
                     android:name="org.altbeacon.beacon.service.BeaconService">
            </service>
            <service android:enabled="true"
                     android:name="org.altbeacon.beacon.BeaconIntentProcessor">
                <meta-data android:name="background" android:value="true" />
                <intent-filter android:priority="1" >
                    <action android:name="com.unarin.cordova.beacon.IBeaconPlugin.DID_RANGING" />
                    <action android:name="com.unarin.cordova.beacon.IBeaconPlugin.DID_MONITORING" />
                </intent-filter>
            </service>
        </config-file>
		
        <source-file src="src/android/LocationManager.java" target-dir="src/com/unarin/cordova/beacon" />
        <source-file src="src/android/IBeaconServiceNotifier.java" target-dir="src/com/unarin/cordova/beacon" />
        <source-file src="src/android/ILocationManagerCommand.java" target-dir="src/com/unarin/cordova/beacon" />
        <source-file src="src/android/PausableThreadPoolExecutor.java" target-dir="src/com/unarin/cordova/beacon" />

		<source-file src="libs/android/altbeacon.jar" target-dir="libs" framework="true" />
    </platform>

</plugin>
